# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Database
*.db
*.sqlite
*.sqlite3

# Data files
data/*.json

# Node
node_modules/
dist/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
